DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_SUMMARY_CHANNEL_ID=

GOOGLE_API_KEY=
GOOGLE_SHEETS_ID=
GOOGLE_SHEET_TAB_NAME=places
GOOGLE_SERVICE_ACCOUNT_JSON=

APPS_SCRIPT_WEBHOOK_URL=
APPS_SCRIPT_SECRET=
MY_MAPS_FILE_ID=
